<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>${title}</title>
  <meta name="description" content="${description}">
  <link rel="stylesheet" href="/assets/vendor/vanilla-breeze/vanilla-breeze.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>

  <div data-include="/includes/header.html"></div>

  <main id="main">
    ${content}
  </main>

  <div data-include="/includes/footer.html"></div>

  <script src="/assets/vendor/vanilla-breeze/vanilla-breeze.js" type="module"></script>
  <script src="/assets/vendor/vanilla-breeze/code-block.js" type="module"></script>
  <script src="/assets/vendor/vanilla-breeze/browser-window.js" type="module"></script>
</body>
</html>
